<div class="paramsmodal">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <alert ng-if="alert.msg" type="{{alert.type}}" close="alert.msg=''">{{alert.msg}}</alert>
        <form name="form" class="css-form" novalidate>
            <label for="">任务名称</label>
            <input type="text" class="form-control" name="taskName" placeholder="text" ng-model="taskName" required="" />
            <div ng-show="form.$submitted || form.taskName.$touched">
                <span ng-show="form.taskName.$error.required">请输入任务名称</span>
                <span ng-show="form.taskName.$error.text">输入正确格式的参数</span>
            </div>
            <div ng-repeat="param in params">
                <label for="">{{param.name}}</label>
                <input type="{{param.type}}" class="form-control" name="{{param.name}}" placeholder="{{param.type}}" ng-model="param.value" required="" />
                <div ng-show="form.$submitted || form[param.name].$touched">
                    <span ng-show="form[param.name].$error.required">{{"请输入" + param.name}}</span>
                    <span ng-show="form[param.name].$error[param.type]">输入正确格式的参数</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <input type="submit" class="classic-input" ng-click="ok(form)" value="保存">
        <input type="button" class="classic-input cancel" ng-click="cancel()" value="取消">
    </div>
</div>